form {
  position: relative;
  margin: 0 auto;
  width: 300px;
  display: flex;
  justify-content: center;
  height: 78px;
  align-self: center;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

input {
  text-align: center;
  box-sizing: border-box;
  width: inherit;
  margin: 0 auto;
  font-size: 36px;
  font-family: "Encode Sans SC";
  padding: 36px;
  font-weight: 700;
}
