form {
  position: relative;
  margin: 0 auto;
  width: 250px;
  display: flex;
  justify-content: center;
}

input {
  margin: 0 auto;
  width: 250px;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
  font-family: "Encode Sans SC";
  font-weight: 700;
  font-size: 36px;
}
