@keyframes fadein {
  0% {
    color: transparent;
  }
  100% {
    color: initial;
  }
}

.hexagon,
.hexagon:before,
.hexagon:after {
  animation: fadein 1s;
  transition: all 0.2s;
  height: 63px;
  width: 100px;
  border-radius: 6px;
  background: rgba(128, 128, 128, 1);
  justify-self: center;
  align-self: center;
  text-align: center;
  vertical-align: middle;
  font-size: 48px;
  font-family: "Encode Sans SC", sans-serif;
}

.hexagon {
  position: relative;
  z-index: 0;
  color: black;
}

.hexagon:before,
.hexagon:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 6px;
  z-index: -1;
}

.hexagon:after {
  transform: rotate(-60deg);
}

.hexagon:before {
  transform: rotate(60deg);
}

.main,
.main:after,
.main:before {
  background: goldenrod;
}

@media (hover: hover) {
  .hexagon:hover,
  .hexagon:hover::after,
  .hexagon:hover::before {
    background: lightgray;
    cursor: pointer;
  }
  .main:hover,
  .main:hover:after,
  .main:hover:before {
    background: gold;
  }
}

@media screen and (max-width: 768px) {
  .hexagon,
  .hexagon:after,
  .hexagon:before {
    height: 55px;
    width: 89px;
    font-size: 42px;
  }
}
