.options {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  margin: 0 auto;
}

button {
  width: fit-content;
  height: 32px;
  border-radius: 6px;
  margin: 0 12px;
  font-size: 16px;
  font-family: "Encode Sans SC";
  transition: all 0.2s;
  background: white;
}

button:hover {
  background: lightgrey;
  cursor: pointer;
}
