section {
  font-size: 36px;
  margin-top: 16px;
  font-weight: 700;
  font-family: "Encode Sans SC";
  text-align: right;
  padding: 0 32px;
  max-width: 768px;
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
}

article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 400;
  text-align: right;
  padding: 0 6px;
}

ul {
  list-style: none;
  overflow-x: scroll;
  max-height: 300px;
  margin: 0;
  padding: 0;
}

li {
  font-family: "Encode Sans SC";
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  ul,
  section,
  article {
    text-align: center;
  }

  section {
    font-size: 30px;
  }

  section br {
    display: none;
  }
}
