.App {
  display: grid;
  grid-template-rows: 70px 1fr 3fr 1fr;
  grid-template-columns: 3fr 2fr;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 960px;
  max-height: 700px;
  margin: 0 auto;
  padding: 32px 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

.hexagon-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-areas:
    ". . . . A A B B . . . ."
    ". . . C C D D E E . . ."
    ". . . . F F G G . . . .";
  padding: 25px;
  height: 300px;
  width: 400px;
  margin: 0 auto;
  align-self: center;
}

.hexagon:nth-child(1) {
  grid-area: A;
}

.hexagon:nth-child(2) {
  grid-area: B;
}

.hexagon:nth-child(3) {
  grid-area: C;
}

.hexagon:nth-child(4) {
  grid-area: D;
}

.hexagon:nth-child(5) {
  grid-area: E;
}

.hexagon:nth-child(6) {
  grid-area: F;
}

.hexagon:nth-child(7) {
  grid-area: G;
}

.light {
  background: white;
  color: black;
}

.dark {
  background: rgba(64, 64, 64, 1);
  color: white;
}

@media screen and (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70px;
  }

  .hexagon-container {
    width: 325px;
    padding: 32px 0;
    height: 250px;
  }
}
